.app {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #6aaef1;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.logoText {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: white;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.menu {
    list-style: none;
    padding: 0;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.menuItem.active,
.menuItem:hover {
    background-color: #34495e;
}

.icon {
    margin-right: 10px;
}

.sidebarUser {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 60px;
    background-color: #2c3e50;
    cursor: pointer;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.username {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;


}

.usergmail {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f6f6;
    overflow: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 80px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.stats {
    display: flex;
    margin-left: 80px;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 0%;
    width: 220px;
    height: 150px;
    text-align: center;
    border: 2px solid #E6E5E5;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

.searchBar input {
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.scrollableDiv {
    height: 363px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

.userTable thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.userTable th,
.userTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}



.edit:hover {
    background-color: rgb(1, 255, 1);
}

.delete:hover {
    background-color: rgb(214, 1, 1);
}

.edit {
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.delete {
    background-color: rgb(254, 63, 63);
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}


.notificationAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.notification {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.notificationButton {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.btnConfirm,
.btnCancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btnConfirm {
    background-color: #28a745;
    color: white;
}

.btnConfirm:hover {
    background-color: #218838;
}

.btnCancel {
    background-color: #dc3545;
    color: white;
}

.btnCancel:hover {
    background-color: #c82333;
}